body{
    font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
margin: 0;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: coral;
}
section{
    margin-bottom: 200px;
    height: 95vh;
    box-shadow: 0px 10px 20px rgb(195, 195, 195) ;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}

.half-width img{
    width: 50%;
    border-radius: 50%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(255, 166, 0, 0.851),rgba(255, 68, 0, 0.717));
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 700;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-container{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-container h1{
    margin-left: 5%;

}
.experience-child{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}
#tomato-color-border{
    border-left: 8px solid tomato;
}
#blue-color-border{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
    margin-bottom:20px ;
}